<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin? %>
  <div class=''>
    <h4><%= _("Merge") %></h4>
    <%= render 'admin/dashboard/merge' %>
  </div>
<% end %>